<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-payroll-heading" data-cy="PayrollCreateUpdateHeading" jhiTranslate="gwApp.payroll.home.createOrEditLabel">
        Create or edit a Payroll
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gwApp.payroll.effectiveDate" for="field_effectiveDate">Effective Date</label>
          <div class="input-group">
            <input
              id="field_effectiveDate"
              data-cy="effectiveDate"
              type="text"
              class="form-control"
              name="effectiveDate"
              ngbDatepicker
              #effectiveDateDp="ngbDatepicker"
              formControlName="effectiveDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="effectiveDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gwApp.payroll.amountTotal" for="field_amountTotal">Amount Total</label>
          <input
            type="number"
            class="form-control"
            name="amountTotal"
            id="field_amountTotal"
            data-cy="amountTotal"
            formControlName="amountTotal"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gwApp.payroll.amountNet" for="field_amountNet">Amount Net</label>
          <input type="number" class="form-control" name="amountNet" id="field_amountNet" data-cy="amountNet" formControlName="amountNet" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gwApp.payroll.employee" for="field_employee">Employee</label>
          <select class="form-control" id="field_employee" data-cy="employee" name="employee" formControlName="employee">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="employeeOption.id === editForm.get('employee')!.value?.id ? editForm.get('employee')!.value : employeeOption"
              *ngFor="let employeeOption of employeesSharedCollection; trackBy: trackEmployeeById"
            >
              {{ employeeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
