<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="projects">
      <h2 data-cy="projectsDetailsHeading"><span jhiTranslate="gwApp.projects.detail.title">Projects</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ projects.id }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.projects.start">Start</span></dt>
        <dd>
          <span>{{ projects.start | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.projects.end">End</span></dt>
        <dd>
          <span>{{ projects.end | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.projects.name">Name</span></dt>
        <dd>
          <span>{{ projects.name }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.projects.note">Note</span></dt>
        <dd>
          <span>{{ projects.note }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.projects.manager">Manager</span></dt>
        <dd>
          <div *ngIf="projects.manager">
            <a [routerLink]="['/employee', projects.manager?.id, 'view']">{{ projects.manager?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/projects', projects.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
