<div>
  <h2 id="page-heading" data-cy="TeamAllocationHeading">
    <span jhiTranslate="gwApp.teamAllocation.home.title">Team Allocations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gwApp.teamAllocation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-team-allocation"
        [routerLink]="['/team-allocation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gwApp.teamAllocation.home.createLabel"> Create a new Team Allocation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="teamAllocations?.length === 0">
    <span jhiTranslate="gwApp.teamAllocation.home.notFound">No teamAllocations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="teamAllocations && teamAllocations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gwApp.teamAllocation.start">Start</span></th>
          <th scope="col"><span jhiTranslate="gwApp.teamAllocation.end">End</span></th>
          <th scope="col"><span jhiTranslate="gwApp.teamAllocation.note">Note</span></th>
          <th scope="col"><span jhiTranslate="gwApp.teamAllocation.member">Member</span></th>
          <th scope="col"><span jhiTranslate="gwApp.teamAllocation.team">Team</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teamAllocation of teamAllocations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/team-allocation', teamAllocation.id, 'view']">{{ teamAllocation.id }}</a>
          </td>
          <td>{{ teamAllocation.start | formatMediumDate }}</td>
          <td>{{ teamAllocation.end | formatMediumDate }}</td>
          <td>{{ teamAllocation.note }}</td>
          <td>
            <div *ngIf="teamAllocation.member">
              <a [routerLink]="['/employee', teamAllocation.member?.id, 'view']">{{ teamAllocation.member?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="teamAllocation.team">
              <a [routerLink]="['/teams', teamAllocation.team?.id, 'view']">{{ teamAllocation.team?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/team-allocation', teamAllocation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/team-allocation', teamAllocation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(teamAllocation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
