<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="benefit">
      <h2 data-cy="benefitDetailsHeading"><span jhiTranslate="gwApp.benefit.detail.title">Benefit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ benefit.id }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.benefit.type">Type</span></dt>
        <dd>
          <span>{{ benefit.type }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.benefit.effectiveDate">Effective Date</span></dt>
        <dd>
          <span>{{ benefit.effectiveDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.benefit.value">Value</span></dt>
        <dd>
          <span>{{ benefit.value }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.benefit.endDate">End Date</span></dt>
        <dd>
          <span>{{ benefit.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.benefit.employee">Employee</span></dt>
        <dd>
          <div *ngIf="benefit.employee">
            <a [routerLink]="['/employee', benefit.employee?.id, 'view']">{{ benefit.employee?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/benefit', benefit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
