<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="bonus">
      <h2 data-cy="bonusDetailsHeading"><span jhiTranslate="gwApp.bonus.detail.title">Bonus</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bonus.id }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.bonus.effectiveDate">Effective Date</span></dt>
        <dd>
          <span>{{ bonus.effectiveDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.bonus.amount">Amount</span></dt>
        <dd>
          <span>{{ bonus.amount }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.bonus.note">Note</span></dt>
        <dd>
          <span>{{ bonus.note }}</span>
        </dd>
        <dt><span jhiTranslate="gwApp.bonus.employee">Employee</span></dt>
        <dd>
          <div *ngIf="bonus.employee">
            <a [routerLink]="['/employee', bonus.employee?.id, 'view']">{{ bonus.employee?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bonus', bonus.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
